.universities-container {
    margin-top: 1em;
    width: 100%;
    height: 100%;
    .create-new-button {
        display: flex !important;
        flex-direction: row !important;
        width: 100%;
        justify-content: flex-end !important;
        align-items: flex-end !important;
    }
    .univ-list-item {
        display: flex;
        flex-direction: row;
        align-items: center;
    }
}